Workshop 4 Data pre-processing with mix data type.

Due date 24th July 2021 before midnight 23:59pm

Example of your preprocessing task are listed as:

**Data source:**

https://archive.ics.uci.edu/ml/datasets/Adult

https://archive.ics.uci.edu/ml/machine-learning-databases/adult/

Training data = adult.data

Testing data = adult.test

**Import Data**

In [2]:
import pandas as pd

adult_data_test = pd.read_csv('adult.test.csv')

**Data Exploration**

In [3]:
adult_data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16281 entries, 0 to 16280
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             16281 non-null  int64
 1   workclass       16281 non-null  object
 2   fnlwgt          16281 non-null  int64
 3   education       16281 non-null  object
 4   education_num   16281 non-null  int64
 5   marital_status  16281 non-null  object
 6   occupation      16281 non-null  object
 7   relationship    16281 non-null  object
 8   race            16281 non-null  object
 9   sex             16281 non-null  object
 10  capital_gain    16281 non-null  int64
 11  capital_loss    16281 non-null  int64
 12  hours_per_week  16281 non-null  int64
 13  native_country  16281 non-null  object
 14  income          16281 non-null  object
dtypes: int64(6), object(9)
memory usage: 1.9+ MB

In [4]:
# Find and count 'workclass' value
adult_data_test['workclass'].value_counts()

Private             11210
Self-emp-not-inc     1321
Local-gov            1043
?                     963
State-gov             683
Self-emp-inc          579
Federal-gov           472
Without-pay             7
Never-worked            3
Name: workclass, dtype: int64

In [5]:
# Find and count 'education' value
adult_data_test['education'].value_counts()

HS-grad         5283
Some-college    3587
Bachelors       2670
Masters          934
Assoc-voc        679
11th             637
Assoc-acdm       534
10th             456
7th-8th          309
Prof-school      258
9th              242
12th             224
Doctorate        181
5th-6th          176
1st-4th           79
Preschool         32
Name: education, dtype: int64

In [7]:
# Find and count 'marital-status' value
adult_data_test['marital_status'].value_counts()

Married-civ-spouse       7403
Never-married            5434
Divorced                 2190
Widowed                   525
Separated                 505
Married-spouse-absent     210
Married-AF-spouse          14
Name: marital_status, dtype: int64

In [8]:
# Find and count 'occupation' value
adult_data_test['occupation'].value_counts()

Prof-specialty       2032
Exec-managerial      2020
Craft-repair         2013
Sales                1854
Adm-clerical         1841
Other-service        1628
Machine-op-inspct    1020
?                     966
Transport-moving      758
Handlers-cleaners     702
Tech-support          518
Farming-fishing       496
Protective-serv       334
Priv-house-serv        93
Armed-Forces            6
Name: occupation, dtype: int64

In [9]:
# Find and count 'relationship' value
adult_data_test['relationship'].value_counts()

Husband           6523
Not-in-family     4278
Own-child         2513
Unmarried         1679
Wife               763
Other-relative     525
Name: relationship, dtype: int64

In [10]:
# Find and count 'race' value
adult_data_test['race'].value_counts()

White                 13946
Black                  1561
Asian-Pac-Islander      480
Amer-Indian-Eskimo      159
Other                   135
Name: race, dtype: int64

In [11]:
# Find and count 'sex' value
adult_data_test['sex'].value_counts()

Male      10860
Female     5421
Name: sex, dtype: int64

In [12]:
# Find and count 'native-country' value
adult_data_test['native_country'].value_counts()

United-States                 14662
Mexico                          308
?                               274
Philippines                      97
Puerto-Rico                      70
Germany                          69
Canada                           61
India                            51
El-Salvador                      49
China                            47
Cuba                             43
England                          37
South                            35
Dominican-Republic               33
Italy                            32
Haiti                            31
Portugal                         30
Japan                            30
Poland                           27
Columbia                         26
Jamaica                          25
Guatemala                        24
Greece                           20
Vietnam                          19
Ecuador                          17
Iran                             16
Peru                             15
Nicaragua                        15
Taiwan                           14
Ireland                          13
Thailand                         12
Hong                             10
Outlying-US(Guam-USVI-etc)        9
France                            9
Scotland                          9
Cambodia                          9
Trinadad&Tobago                   8
Yugoslavia                        7
Honduras                          7
Hungary                           6
Laos                              5
Name: native_country, dtype: int64

In [13]:
# Find and count 'income' value
adult_data_test['income'].value_counts()

<=50K.    12435
>50K.      3846
Name: income, dtype: int64

**Cleaning Data**

In [16]:
# Remove missing value ('?') in workclass
for x in adult_data_test.index:
    if adult_data_test.loc[x, 'workclass'] == '?':
        adult_data_test.drop(x, inplace = True)

adult_data_test['workclass'].value_counts()

Private             11210
Self-emp-not-inc     1321
Local-gov            1043
State-gov             683
Self-emp-inc          579
Federal-gov           472
Without-pay             7
Never-worked            3
Name: workclass, dtype: int64

In [17]:
# Remove missing value ('?') in occupation
for x in adult_data_test.index:
    if adult_data_test.loc[x, 'occupation'] == '?':
        adult_data_test.drop(x, inplace = True)

adult_data_test['occupation'].value_counts()

Prof-specialty       2032
Exec-managerial      2020
Craft-repair         2013
Sales                1854
Adm-clerical         1841
Other-service        1628
Machine-op-inspct    1020
Transport-moving      758
Handlers-cleaners     702
Tech-support          518
Farming-fishing       496
Protective-serv       334
Priv-house-serv        93
Armed-Forces            6
Name: occupation, dtype: int64

In [18]:
# Remove missing value ('?') in native-country
for x in adult_data_test.index:
    if adult_data_test.loc[x, 'native_country'] == '?':
        adult_data_test.drop(x, inplace = True)

adult_data_test['native_country'].value_counts()

United-States                 13788
Mexico                          293
Philippines                      95
Puerto-Rico                      66
Germany                          65
Canada                           56
El-Salvador                      47
India                            47
China                            45
Cuba                             41
England                          33
Italy                            32
South                            30
Dominican-Republic               30
Japan                            30
Portugal                         28
Haiti                            27
Columbia                         26
Poland                           25
Guatemala                        23
Jamaica                          23
Greece                           20
Vietnam                          19
Ecuador                          16
Nicaragua                        15
Peru                             15
Iran                             14
Taiwan                           13
Thailand                         12
Ireland                          12
Hong                              9
Scotland                          9
France                            9
Outlying-US(Guam-USVI-etc)        8
Trinadad&Tobago                   8
Cambodia                          8
Yugoslavia                        7
Honduras                          7
Hungary                           5
Laos                              4
Name: native_country, dtype: int64

In [19]:
adult_data_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15060 entries, 0 to 16280
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             15060 non-null  int64
 1   workclass       15060 non-null  object
 2   fnlwgt          15060 non-null  int64
 3   education       15060 non-null  object
 4   education_num   15060 non-null  int64
 5   marital_status  15060 non-null  object
 6   occupation      15060 non-null  object
 7   relationship    15060 non-null  object
 8   race            15060 non-null  object
 9   sex             15060 non-null  object
 10  capital_gain    15060 non-null  int64
 11  capital_loss    15060 non-null  int64
 12  hours_per_week  15060 non-null  int64
 13  native_country  15060 non-null  object
 14  income          15060 non-null  object
dtypes: int64(6), object(9)
memory usage: 2.3+ MB

In [20]:
# Export to csv
adult_data_test.to_csv(r'C:\Users\sonram_sirirat\Documents\GitHub\everything-starts-with-data\Workshop_4\adult_data_test.csv', index = False)